@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Sacrament Meeting Planner</h1>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary"> <a class="nav-link text-light" asp-area="" asp-page="Meetings/Create">Create New Program</a></button>
        <button type="button" class="btn btn-primary"><a class="nav-link text-light" asp-area="" asp-page="Meetings/Index">View History</a></button>
    </div>
</div>
